<?xml version="1.0" encoding="utf-8" ?>
<mapper namespace="">
    <select id="select" parameterType="String" resultType="com.avalony.entity.User">
        select id,name,age from user where id = #{id}
    </select>
    <insert id="insert" parameterType="com.avalony.entity.User">
        insert into user value(#{id},#{name},#{age})
    </insert>
</mapper>